.customBase {
    color: inherit;
    background: none;
    border: none;
    border-bottom: 1px solid;
    border-bottom-color: inherit;
    font-family: var(--dropdownFontFamily);
    font-size: var(--dropdownFontSize);
}

.customBase:focus {
    outline: none;
}
